/* basic stylings ------------------------------------------ */
@font-face {
    font-family: "myfont";
    src: url(/tutorials/IranNastaliq.ttf)
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);


*{
  
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    font-family: B Koodak;
}
.container {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto';
    margin: 30px auto 0;
}
body{
  background: #e4e4e4 !important;
}
/* Element styling -------------------------------------------- */

img {
    width: 100px;
    height: auto;
    vertical-align: middle;
}
h1{
  background-color: #492102;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  margin:30px 5px;
}
div{
  margin: 5px;
}
select,
textarea,
input{
  background-color: #eee !important;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.25);
  outline: none;
}
select {
    width: 250px;
    height: 40px;
    margin: 5px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
textarea{
  resize: none;
  padding: 5px;
}
#arzeshgozarifirst {
  width: 300px;
}

#primitive {
  display: none;
}

#Secondary {
  display: none;
}
/* Buttons */
button {

  background-color: #656d4a !important;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  padding:5px;
  margin: 15px 0;
  margin-right: 15px;
  text-align: center;
  transition: all .3s;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}
button[type=submit]{
  width: 200px;
}

button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transition-duration: .35s;
}

button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transition-duration: .35s;
}
input{
  padding: 5px;
  margin: 10px;

}


.form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}
.form-check-label {
  color: black !important;
}





