* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      background: #e4e4e4 !important;
  }
  .Claim div,
  .businessCards div,
  .logo div,
  .legalPerson div,
  .realPerson div {
    margin: 13px 0;
  }
  .address{
      max-width: none !important;
  }
  .btn-primary{
      background-color: #656d4a !important;
      border:none;
  }
  p{
      background-color: #492102;
      border-radius: 5px;
      padding: 8px;
      color: #fff;
  
  }
  
  input {
    width: 80% !important;
    max-width: 350px;
    box-shadow: none !important;
    background-color: #eee !important;
    border-radius: 5px;
  }
  input[type="file"] {
    height: auto !important; 
  }
  
  input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
  }
  .form-check-input:checked {
      background-color: #0d6efd !important;
      border-color: #0d6efd !important;
  }
  button {
    display: table;
    width: 200px;
    cursor: pointer;
    padding: 5px;
    margin: auto;
    border: none;
    outline: none;
    box-shadow: none !important;
  }
  .uploadBusseinesCard {
    display: none;
  }
  .toggle {
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin: 5px;
  }
  .appendDocument{
      background-color: #656d4a !important;
      color: #fff;
  }
  .errors {
    border: red 1px solid;
  }
  .toggle.btn {
    height: 25px !important;
    width: 64px !important;
    min-height: 25px !important;
    min-width: 64px !important;
  }
  
  .form-check-label {
    color: black !important;
  }
  .form-control:valid,
  .form-check-input:valid {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
  }

  .form-check{
    display: flex !important;
    justify-content: space-between;
  }

  .form-check-input{
      height: auto !important;
      padding: 5px;
  }
  button[type=button]{
     font-size: 11px;
      line-height: 20px;
      border-radius: 5px;
      display: inline;
  }
  textarea{
      outline: none;
      min-height: 150px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  