* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


section{
  margin-bottom: 15px;
}

label{
  margin-left: 10px;
}
.Claim div,
.businessCards div,
.logo div,
.legalRepresentativ div,
.legalPerson div,
.realPerson div {
  margin: 13px 0;
  margin-right:10px ;
}
.address{
    max-width: none !important;
}
.melli{
  width: 500px;
}
.btn-primary{
    background-color: #656d4a !important;
    border:none;
}

.border{
  border: 1px solid darkgray !important;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
}
.edit{
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 5px;
}

.edit:hover{
  background-color:#eee;
}
input{
  width: 70% !important;
  max-width: 350px;
  box-shadow: none !important;
  border: none !important;
  border-radius: 5px;
  outline:none;
  padding: 5px;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
button {
  width: 150px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid darkgray;
  outline: none;
  box-shadow: none !important;
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
  margin-right: 5px;

}
.uploadBusseinesCard {
  display: none;
}
.toggle {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin: 5px;
}
.appendDocument{
    background-color: #656d4a !important;
    color: #fff;
}
.errors {
  border: red 1px solid;
}
.toggle.btn {
  height: 25px !important;
  width: 64px !important;
  min-height: 25px !important;
  min-width: 64px !important;
}

.form-check-label {
  color: black !important;
}
.form-control:valid,
.form-check-input:valid {
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

textarea{
    outline: none;
    min-height: 150px;
    resize: none;
    padding: 5px;
   
}
.invalid-feedback{
  align-self: flex-end;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.textarea {
  display: block;
  overflow: hidden;
  border: 1px solid gray;
  min-height: 40px;
  line-height: 20px;
  outline: none;
  padding: 6px;
  border-radius: 3px;
}
.updatebtn{
  display: none;
}
.editRulesTitle{
 display: none;
}
.nosakh{
  width: 30px !important;
  height: 30px !important;
}
