* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      background: #e4e4e4 !important;
  }
  p{
    background-color: #492102;
    border-radius: 5px;
    padding: 8px;
    color: #fff;

}
